<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
	<components>
		
		<component
			id="parseContent_PlainText"
			service="SearchBoost.Net.Core.ContentParsing.IContentParser"
			type="SearchBoost.Net.Core.ContentParsing.PlainText"
			lifestyle="singleton">
			<parameters>
				<mimetypes>
					<list>
						<item>text/plain</item>
					</list>
				</mimetypes>
				<fileextensions>
					<list>
						<item>txt</item>
					</list>
				</fileextensions>
			</parameters>
		</component>
		
		<component
			id="parseContent_Html"
			service="SearchBoost.Net.Core.ContentParsing.IContentParser"
			type="SearchBoost.Net.Core.ContentParsing.HtmlParser"
			lifestyle="singleton">
			<parameters>
				<mimetypes>
					<list>
						<item>text/html</item>
					</list>
				</mimetypes>
				<fileextensions>
					<list>
						<item>html</item>
						<item>htm</item>
					</list>
				</fileextensions>
			</parameters>
		</component>
		
		<component
			id="parseContent_XmlSitemapAndRssFeeds"
			service="SearchBoost.Net.Core.ContentParsing.IContentParser"
			type="SearchBoost.Net.Core.ContentParsing.XmlSitemapAndRssFeedsParser"
			lifestyle="singleton">
			<parameters>
				<mimetypes>
					<list>
						<item>text/xml</item>
						<item>application/xml</item>
					</list>
				</mimetypes>
				<fileextensions>
					<list>
						<item>xml</item>
					</list>
				</fileextensions>
			</parameters>
		</component>
		
	</components>
	
</configuration>