<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
	<include uri="content-indexers.config" />
	
	<facilities>
		<facility
			id="logging"
			type="Castle.Facilities.Logging.LoggingFacility, Castle.Facilities.Logging"
			loggingApi="nlog"
			customLoggerFactory="type name that implements ILoggerFactory"
			configFile="../../config/nlog.config" />
	</facilities>
	
	<components>
		
		<component
			id="searchEngine"
			service="SearchBoost.Net.Core.Engine.ISearchEngine"
			type="SearchBoost.Net.Core.Engine.SearchEngine"
			lifestyle="singleton">
		</component>
		
		<component
			id="indexStorage"
			service="SearchBoost.Net.Core.Storage.ISearchIndexStorage"
			type="SearchBoost.Net.Core.Storage.LuceneStorage"
			lifestyle="singleton">
			<parameters>
				<location>../../data/index</location>
			</parameters>
		</component>
		
		<component
			id="webSpiderPlain"
			service="SearchBoost.Net.Core.Publishers.IContentPublisher"
			type="SearchBoost.Net.WebSpider.Crawler, SearchBoost.Net.WebSpider"
			lifestyle="singleton">
			<parameters>
				<urls>
					<list>
						<item>
							<url>https://raw.github.com/bogdan-litescu/SearchBoost.NET/master/license.txt</url>
						</item>
					</list>
				</urls>
			</parameters>
		</component>
		
		<component
			id="webSpiderHtml"
			service="SearchBoost.Net.Core.Publishers.IContentPublisher"
			type="SearchBoost.Net.WebSpider.Crawler, SearchBoost.Net.WebSpider"
			lifestyle="singleton">
			<parameters>
				<urls>
					<list>
						<item>
							<url>http://htmlagilitypack.codeplex.com</url>
						</item>
					</list>
				</urls>
			</parameters>
		</component>
		
	</components>
	
</configuration>