<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
	<facilities>
		<facility
			id="logging"
			type="Castle.Facilities.Logging.LoggingFacility, Castle.Facilities.Logging"
			loggingApi="nlog"
			customLoggerFactory="type name that implements ILoggerFactory"
			configFile="../../config/nlog.config" />

    <facility id="wcf" type="Castle.Facilities.WcfIntegration.WcfFacility, Castle.Facilities.WcfIntegration" />
    
	</facilities>
	
	<components>
		
		<component
			id="searchEngine"
			service="SearchBoost.Net.Core.Engine.ISearchEngine"
			type="SearchBoost.Net.Core.Engine.SearchEngine"
			lifestyle="singleton">
		</component>
		
		<component
			id="indexStorage"
			service="SearchBoost.Net.Core.Storage.ISearchIndexStorage"
			type="SearchBoost.Net.Core.Storage.LuceneStorage"
			lifestyle="singleton">
			<parameters>
				<location>../../data/index</location>
			</parameters>
		</component>

    <component
        id="searchService"
        type="SearchBoost.Net.Core.Services.ISearchService"
        wcfEndpointConfiguration="searchServiceClient">
    </component>
		
	</components>
	
</configuration>