<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:8381/ISearchService" binding="netTcpBinding" contract="SearchBoost.Net.Core.Services.ISearchService" name="searchServiceClient"></endpoint>
      <endpoint address="net.tcp://localhost:8382/IIndexingService" binding="netTcpBinding" contract="SearchBoost.Net.Core.Services.IIndexingService" name="indexingServiceClient"></endpoint>
    </client>
  </system.serviceModel>

</configuration>
