<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <!--<serviceMetadata httpGetEnabled="true" />-->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--<bindings>
      <netTcpBinding>
        <binding portSharingEnabled="true"></binding>
      </netTcpBinding>
    </bindings>-->
    <services>
      <service name="SearchBoost.Net.Core.Services.SearchService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="" contract="SearchBoost.Net.Core.Services.ISearchService" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8381/ISearchService" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>

</configuration>
