<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <facilities>
    <facility
        id="logging"
        type="Castle.Facilities.Logging.LoggingFacility, Castle.Facilities.Logging"
        loggingApi="console"
        configFile="../../config/nlog.config" />

    <facility id="wcf" type="Castle.Facilities.WcfIntegration.WcfFacility, Castle.Facilities.WcfIntegration" />
    
  </facilities>

  <components>

    <component
        id="searchEngine"
        service="SearchBoost.Net.Core.Engine.ISearchEngine"
        type="SearchBoost.Net.Core.Engine.SearchEngine"
        lifestyle="singleton">
    </component>

    <component
        id="indexStorage"
        service="SearchBoost.Net.Core.Storage.ISearchIndexStorage"
        type="SearchBoost.Net.Core.Storage.LuceneStorage"
        lifestyle="singleton">
      <parameters>
        <location>../../data/index</location>
      </parameters>
    </component>

    <component
        id="searchService_svc"
        service="SearchBoost.Net.Core.Services.ISearchService"
        type="SearchBoost.Net.Core.Services.SearchService"
        wcfServiceHost="true">
        <parameters>
            <remote>net.tcp://localhost:8381/ISearchService</remote>
      </parameters>
    </component>

    <component
       id="indexingService_svc"
       service="SearchBoost.Net.Core.Services.IIndexingService"
       type="SearchBoost.Net.Core.Services.IndexingService"
       wcfServiceHost="true">
      <parameters>
        <remote>net.tcp://localhost:8382/IIndexingService</remote>
      </parameters>
    </component>

  </components>

</configuration>