<?xml version="1.0" encoding="utf-8" ?> 
<nlog autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
   <targets>
     <target name="mainlog" xsi:type="File" fileName="${basedir}/../../logs/mainlog.txt"/>
   </targets>
   <rules>
      <logger name="*" minlevel="Trace" writeTo="mainlog" />
   </rules>
</nlog>